@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif; }

body {
  background-color: #eec784; }

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px; }

img {
  width: 95%;
  border-radius: 5%;
  margin: 15px; }

.caja1 {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.presentacion {
  width: 90%;
  height: 30%;
  align-items: center; }

.introduccion {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px; }

.pie {
  background-color: #eec784; }

.logo-inferior {
  width: 100px;
  border-radius: 100%; }

.logo {
  display: flex;
  align-items: center;
  gap: 10px; }

.fb {
  width: 45px; }

.in {
  width: 45px; }

.wpp {
  width: 45px; }

.titulo-inferior {
  font-size: 30px; }

.logo-superior {
  border-radius: 100%; }

.btn {
  font-size: 20px;
  margin: 10px 10px;
  background-color: #eec784;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: black; }

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr); }

.nosotros {
  width: 100%; }

.item1 {
  width: 100%;
  margin: 10px;
  text-align: center; }

.item2 {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: right;
  font-size: 23px; }

img {
  width: 95%;
  border-radius: 5%;
  margin: 15px; }

.div1 {
  width: 100%;
  align-items: center; }

.div2 {
  width: 100%;
  justify-content: center; }

.col {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.lista-padre {
  display: grid;
  grid-template-columns: 200px 350px 350px 350px;
  margin: 15px; }

.servicios {
  font-size: 30px;
  text-align: center; }

.btn-res {
  background-color: #eec784;
  border-radius: 2%; }

.lista-padre2 {
  display: grid;
  grid-template-columns: 350px 350px 350px 200px;
  margin: 15px;
  text-align: right;
  list-style: none; }

.btn1 {
  text-align: right;
  margin-bottom: 20px; }

.desc {
  text-align: center;
  padding: 10px; }

.container-fluid {
  background-color: #eec784;
  width: 100%;
  height: 200px; }

.lista1 {
  justify-content: center;
  align-items: center;
  font-size: 20px; }
  .lista1 .li {
    list-style: none; }

.galeria {
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 #df9c2a;
  width: 350px;
  display: inline-block; }
  .galeria :hover {
    border: 1px solid black;
    transform: scale(1, 1); }
  .galeria img {
    width: 100%;
    height: auto; }

.navbar-brand {
  width: 150px; }
  .navbar-brand :hover {
    transform: scale(1.2); }

@media (max-width: 600px) {
  header {
    flex-direction: column; }
  nav {
    padding: 10px 0px; }
  .div-padre {
    flex-direction: column; }
  .div2 {
    justify-content: baseline;
    display: block; }
  .pie {
    flex-direction: column; }
  .logo-inferior {
    display: block; }
  .titulo-inferior {
    display: block; }
  .fb {
    display: block; }
  .in {
    display: block; }
  .wpp {
    display: block; }
  .logo {
    display: block; }
  .container {
    flex-direction: column;
    display: block; }
  .lista-padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .lista-padre2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .lista1 li {
    list-style: none; } }
